@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'variables';

* {
    font-family: 'Avenir', 'Poppins', sans-serif;
}

.btn,
.card,
.alert,
.form-control,
.modal-content {
    border-radius: 0 !important;
}

.btn-primary {
    background-color: $featured;
    border-color: $featured-dark;
}

.btn-primary:hover {
    background-color: $featured-dark;
}

.btn-outline-primary {
    border-color: $featured;
    color: $featured;
    &:hover {
        color: $darker;
        background-color: $featured;
    }
}